
:root{
    --primaryColor:red;
    --secondaryColor:rgb(175, 70, 87);
    --lightColor:white;
    --bg-Color-1:black;
    --bg-Color-2:grey;
    --padding: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

.home{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}
span{
    color:var(--primaryColor)
}

h1{
    font-size: 2.9rem;
    letter-spacing: 0.12rem;
    cursor:pointer
}
p{
  color: var(--lightColor);
  letter-spacing: 0.9px;
  font-size: 1rem;
  line-height: 1.8rem;
  padding-bottom: 20px;
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:gray;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--lightColor);
    text-decoration: capitalize;
  }

  nav ul li a :hover{
    color: var(--primaryColor);
  }

  .btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    transition: 0.4s;
    border: 2px solid transparent;
  }

  .btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);

  }
  .content{
    flex-grow: 1;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1{
    font-size: 1.65rem;
    margin: 1.7rem 0;
  
  }

  h3{
    font-size: 1.65rem;
    margin-bottom: 1.7rem ;
    margin-top: 1.7rem;
   
  }

  h5{
    font-size: 1.65rem;
    margin-bottom: 1.7rem ;
    margin-top: 5.7rem; 
  }

  h4{
    font-size: 1.65rem;
    margin-bottom: 1.7rem ;
    margin-top: 1.7rem;
   
  }

  .content-texts{
    padding-left: 40px;
    position: relative;
    bottom: 70px;
  }

  .social{
    margin-top: 3.12rem;
  }

  .social img{
    width: 2.5rem;
    margin: 1rem;
    transition: 0.4s;
  }

  .social img:hover{
    transform: scale(1.2);
  }

  .home .content-images{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
  }

.home .content-images img{
    position: absolute;
    bottom: 0;
  }

 .home .content-images:hover .pic{
    bottom: 40px;
  }

  .about {
    background-color: var(--bg-Color-2);
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .about .content-images{
    width: 35%;
  }

  .about .content-images img{
    width: 45%;
  }
  .about .content-texts{
    width: 45%;
  }

  .services{
    background-color: var(--bg-Color-1);
    padding: var(--padding);
  }

  .h1 .alignMe{
    text-align: center;
  }

  .box{
    display: flex;
    justify-content: space-between;
  }

  .card{
    width: 400px;
    background-color: var(--bg-Color-2);
    border-radius: 20px;
    padding: 1rem 1.6rem;
    text-align: center;
  }

  .card i{
    color: brown;
    font-size: 3.2rem;
    text-align: center;
    margin: 2rem;
  }

  .skils{
    background-color: var(--bg-Color-2);
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
 
.skils .content-images{
  width: 50%;
}

.skils .content-images img{
  width: 70%;
}

.content-skils{
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.skils .content-skils{
  width: 40%;
}

footer{
  background-color: var(--bg-Color-1);
  color: var(--lightColor);
  padding: var(--padding);
  

}

.content-footer{
margin: 1.2rem 2.3rem;
align-items: center;
display: flex;
flex-direction: column;


}